<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wuzy.androidlaunchmodetest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".IntentFlagTestWithAffinityActivity"
            android:taskAffinity="com.jaqen"
            android:label="IntentFlagTestWithAffinityActivity"/>

        <activity
            android:name=".IntentFlagTestActivity"
            android:launchMode="standard"
            android:label="IntentFlagTestActivity" />
        <activity
            android:name=".SingleTaskWithAffinityActivity"
            android:label="SingleTaskWithAffinity Activity"
            android:taskAffinity="com.jaqen" />
        <activity
            android:name=".SingleInstanceActivity"
            android:label="SingleInstance Activity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".SingleTopActivity"
            android:label="SingleTop Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".SingleTaskActivity"
            android:label="SingleTask Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".StandardActivity"
            android:label="Standard Activity"
            android:launchMode="standard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>